<%= form_for @quiz do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <br>
  <%= f.fields_for :questions do |question| %>
    <%= render 'question_fields', f: question %>
  <% end %>
  <%= link_to_add_fields "Add Question", f, :questions %>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>