<h2 class="title-divider"><span>Quiz <span class="de-em"><%= @quiz.name %></span></span> <small></small></h2>

<% if can? :update, @quiz %>
  <%= link_to "Edit Quiz", edit_quiz_path(@quiz), class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :destroy, @quiz %>
  <%= link_to "Delete Quiz", @quiz, method: :delete, class: 'btn btn-primary btn-mini btn-danger', data: { confirm: 'Are you sure you want to delete this quiz?' } %> 
<% end %>  
<br><br>
<ol class="questions">
<% @questions.each do |question| %>
  <li>
    <%= question.content %>
    <ol class="answers">
      <% question.answers.each do |answer| %>
        <li><%= answer.content %></li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>
