<h2 class="title-divider"><span>Please <span class="de-em">Login</span></span> <small></small></h2>
<div class="row">
  <div class="col-md-6">
    <%= form_tag sessions_create_path, :method => :get do %>
      <fieldset id="login">
        <div class="control-group">
          <%= label_tag :email, 'Email:', size: 40 %>
          <div class="controls">
            <%= text_field_tag :email, params[:email], size: 40, placeholder: "email address", required: true %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag :password, 'Password:', size: 40 %>
          <div class="controls">
            <%= password_field_tag :password, params[:password], size: 40, placeholder: "password", required: true  %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= label_tag :remember_me %>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %>
          </div>
        </div>
        <br>
        <div>
          <%= submit_tag "Login", class: 'btn btn-primary btn-large'  %>
        </div>
      </fieldset>
    <% end %>

  </div>
</div>