<h2 class="title-divider"><span>Reset <span class="de-em">Password</span></span> <small></small></h2>

<%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :password, 'Password:' %><br>
    <%= f.password_field :password, size:40, placeholder: "enter new password", required: true  %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm password:' %><br>
    <%= f.password_field :password_confirmation, size: 40, placeholder: "confirm password", required: true  %>
  </div>
  <br>
  <div class="actions"><%= f.submit "Update Password", class: 'btn btn-primary btn-large' %></div>
<% end %>






