<h2 class="title-divider"><span>All <span class="de-em">StrategicHR Videos</span></span> <small></small></h2>

<div class="col-md-8">
  <% if can? :create, Video %>
    <p><%= link_to "Add Video", new_video_path, class: 'btn btn-primary btn-mini' %></p>
  <% end %>
</div>
<br><br>
<div class="col-md-9 blog-roll blog-list">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed", id="Quiz List Table">
      <tr>
        <th>Video Name</th>
        <th>Video Descriptoin</th>
        <th>Video Length</th>
        <th>Video Presenter</th>
      </tr>
      <% @videos.each do |video| %>
        <tr>
          <div class="article">
            <td><%= link_to video.name, video_path(video) %></td>
            <td><small><%= markdown video.description %></small></td>
            <td><%= video.length %></td>
            <td><%= video.presenter %></td>
          </div>
        </tr>
      <% end %>
    </table>
  </div>
</div>


