
<div class="block features">
  <h2 class="title-divider"><span>Earn CEU Credits <span class="de-em">@your place, @your pace!</span></span> <small></small></h2>
  <div class="row">
    <div class="feature col-sm-6 col-md-3"> <%= link_to image_tag("bob-microphone.jpg", class: "img-responsive", alt: "Dr. Bob Nelson"), about_path %>
      <h3 class="title"><a href=<%= about_path %> >Dr. Bob <span class="de-em">Nelson</span></a></h3>
      <p>Dr. Nelson is one of the world’s leading experts in the critical areas of Strategic Human Resource Management, including: employee motivation, performance, engagement, recognition, and rewards. He has worked with nearly all of the Fortune 500 companies, and is president of Nelson Motivation Inc., a management training and consulting company that... <%= link_to( "Read more...", about_path) %></p>
    </div>
    <div class="feature col-sm-6 col-md-3"> <%= link_to image_tag("feature-computer.png", class: "img-responsive", alt: "HRCI Business Management Strategic HR Online Training"), courses_path %>
      <h3 class="title"><a href=<%= courses_path %>>Certified <span class="de-em">Online Training</span></a></h3>
      <p>Now you can take Dr. Bob's HRCI certified Strategic Human Resource Business and Management courses online, and earn CEU credits at your place, and at your own pace!</p>

      <p> Strategic HR is no longer optional for businesses! Managers must work to motivate and unify employees around the goals of the business.  This emerging trend in human resources is now a critical factor in the competitive success of organizations. Dr. Bob offers a variety of Strategic HR online courses which are pre-approved for Business CEU credits by the HR Certification Institute. <%= link_to( "View course list...", courses_path) %></p>
    </div>
    <div class="feature col-sm-6 col-md-3"> <%= link_to image_tag("feature-video.png", class: "img-responsive", alt: "Pay only when you pass the course"), pricing_path %>
      <h3 class="title"><a href=<%= pricing_path %>>Don't Pay <span class="de-em">Until You Pass</span></a></h3>
      <p>There is no charge to sign-up for Dr. Bob's Strategic Human Resource management training, and you can view all of the course training videos for free!  Your only expense will be $39.99 at the end of the course to receive your certificate of HRCI CEU credits.</p>

      <p>All of Dr. Bob's courses are fun and engaging, and are best known for their practical, real-life, positive ideas and techniques to improve employee performance, morale, productivity, motivation, and engagement. Choose from a variety of cutting-edge topics aimed at engaging and energizing employees and teams to meet corporate goals.
    </div>
    <div class="feature col-sm-6 col-md-3"> <%= image_tag("feature-mobile.png", class: "img-responsive", alt: "Mobile friendly HRCI Certified online training") %>
      <h3 class="title primary-colour">Mobile <span class="de-em primary-colour">Friendly</span></h3></font>
      <p>Earn CEU credits using your tablet or smart phone!  Dr. Bob's online Strategic Human Resource seminars are mobile device friendly!</p>
      <p>Join the leading-edge human resource professionals and executives from around the world who have helped their organizations succeed with Dr. Bob Nelson's positive, proven, real-life, fun, and insightful seminars! </p>
      <p><%= link_to( "Sign up for FREE and start earning your HR Business & Management CEU credits today!", new_user_path) %></p>
    </div>
  </div>
</div>

<!--Customer testimonial-->
<div class="block testimonials margin-top-large">
  <h2 class="title-divider"><span>Testimonials <span class="de-em">for Dr. Bob Nelson's Seminars</span></span> <small></small></h2>
  <div class="row">
    <div class="col-md-4">
      <blockquote>
        <p>"Fabulous!  Can't wait to try some of the techniques at work in the coming weeks!"</p>
      </blockquote>
    </div>
    <div class="col-md-4">
      <blockquote>
        <p>"Bravo!  I am going to use what I've heard here as soon as I get back to the office!  I already know two things I'm going to do..."</p>
      </blockquote>
    </div>
    <div class="col-md-4">
      <blockquote>
        <p>"Great thought-provoking seminar!  Outstanding! Wonderful!!! Really helpful for me."</p>
      </blockquote>
    </div>
  </div>
</div>


  <% if !current_user %>
    <%= link_to "Login", login_path, class: 'btn btn btn-primary' %> <strong>or 
    <%= link_to "Sign Up for FREE", new_user_path, class: 'btn btn-primary' %> today!</strong>
  <% end %>




