<h1>Online Strategic HR Training Courses</h1>

<div class="col-md-8">
  <% if can? :create, Course %>
    <%= link_to "New Course", new_course_path, class: 'btn btn-primary btn-mini' %>
  <% end %>
</div>
<br><br>
<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Course Name</th>
    <th># CEU Credits</th>
    <% if can? :take, Course %>
      <th>Status</th>
    <% else %>
      <th>Description</th>
    <% end %>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= link_to course.name, course_path(course) %></td>
      <td><%= course.ceu %></td>
      <% if can? :take, Course %>
        <td><%= course.my_status(current_user.id) %></td>
      <% else %>
        <td><%= markdown course.description.split[0..100].join(' ') %></td>
      <% end %>
    </tr>
  <% end %>
</table>

