<h1><%= @course.name %></h1>

<% if can? :update, @course %>
  <%= link_to "Edit Course", edit_course_path(@course), class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :destroy, @course %>
  <%= link_to "Delete Course", @course, method: :delete, class: 'btn btn-primary btn-mini btn-danger', data: { confirm: 'Are you sure you want to delete this course?' } %> 
<% end %>
<div class="row">
  <div class="span8">
    <p class="lead"><%= markdown @course.description %></p>
  </div>
  <div class="span4">
    <% if can? :create, Course %>
      <%= link_to "New Course", new_course_path(@course), class: 'btn btn-large btn-block' %>
    <% end %>
  </div>
</div>  

<% if can? :create, Course %>
  <ol class="sections">
  <% @sections.each do |section| %>
    <li>
      <%= Video.find(section.video_id).name %> | 
      <%= Quiz.find(section.quiz_id).name %>
    </li>
  <% end %>
  </ol>
<% end %>

<p>
  <% if !current_user %>
    <h3>Yes, I want to enroll in this class and earn CEU credits!</h3>
    <%= link_to "Sign-in", login_path, class: 'btn btn-primary btn-large' %> or 
    <%= link_to "Register", new_user_path, class: 'btn btn-primary btn-large' %> today!
  <% else %>
  <% end %>
</p>
