<h2 class="title-divider"><span>Course: <span class="de-em"><%= @course.name %></span></span> <small></small></h2>

<div class="row">
  <div class="col-md-12"> 
    <div class="well well-mini">
      <h4 class="inline-el pad-right"><span>CEU <span class="de-em">Credits </span></span></h4>
      <% if @ceus.empty? %>
         <p><i>No CEU credits are available for this course.<p/></i>
      <% else %>
        <div class="table-responsive">
          <table class="table-condensed">

            <% @ceus.each do |ceu| %>
                          <tr>
              <td><%= ceu.credit %></td>
              <td><font class="primary-colour">| </font><%= ceu.name %> Credits</td>
              <td><font class="primary-colour">| </font><%= ceu.organization %></td>
              <td><font class="primary-colour">| </font><%= "$#{@course.price} USD for Certificate" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if can? :update, @course %>
  <%= link_to "Edit Course", edit_course_path(@course), class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :destroy, @course %>
  <%= link_to "Delete Course", @course, method: :delete, class: 'btn btn-primary btn-mini btn-danger', data: { confirm: 'Are you sure you want to delete this course?' } %> 
<% end %>
<% if can? :create, Course %>
  <%= link_to "New Course", new_course_path, class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :see_course_video_button, @course %>
  <%= link_to "Watch Video", video_path(Video.find(@next_section.video_id)), class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :view_handout, @course %>
  <%= link_to "View Handout", @course.handout_url.to_s, class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :see_course_quiz_button, @course %>
  <%= link_to "Take Quiz", new_attempt_path(section: @next_section), class: 'btn btn-primary btn-mini' %>
<% end %>
<% if can? :purchase_certificate, @course %>
  <%= link_to "Purchase Certificate", new_charge_path(course_id: @course.id), class: 'btn btn-primary btn-mini' %>
<% elsif can? :view_certificate, @course %>
   <%= link_to "View Certificate", certificate_path(Certificate.where(user_id: current_user.id, course_id: @course.id).first, format: "pdf"), class: 'btn btn-primary btn-mini' %>
<% end %>
<div class="row">
  <div class="col-md-9 blog-roll blog-list"> 
    <div class="media row">  
      <div class="col-md-11 media-body">
        <p>
        <h4 class="title media-heading">Course Description</h4>
        </p>
        <% if @course.image %>
          <%= image_tag(@course.image, class: "img-responsive pull-left", style: "PADDING-RIGHT: 10px") %>
        <% end %>
        <p class="lead"><%= markdown @course.description %></p>

        <% if can? :take, @course %>
          <h4>Course Videos & Quizzes</h4>
          <p>To complete this course, watch all of the course videos listed below and complete all quizzes. </p> <p><i>Click on the links in the table below to watch a course video.  After you have watched the video, click on the link to take the quiz, or if you've already completed the quiz, then you can view the results of your quiz and purchase a certificate for CEU credits.</p></i>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-condensed">
              <tr>
                <th>Videos (click to watch)</th>
                <% if can? :edit, Quiz %>
                  <th>Quizzes</th>
                <% end %>
                <th>Quiz Status</th>
              </tr>
              <% @sections.each do |section| %>
                <tr>
                  <td><% if section.video_id %>
                        <%= link_to "#{Video.find(section.video_id).name} (#{Video.find(section.video_id).length.to_i} minutes)", video_path(Video.find(section.video_id)) %>
                      <% end %>
                  </td>
                  <% if can? :edit, Quiz %>
                    <td><% if section.quiz_id %>
                          <%= link_to Quiz.find(section.quiz_id).name, quiz_path(Quiz.find(section.quiz_id)) %>
                        <% end %>
                    </td>
                  <% end %>
                  <% if !section.attempts.where(user_id: current_user.id, passed: true).empty? %>
                    <td><%= link_to "Quiz PASSED! View My Results", attempt_path(section.attempts.where(user_id: current_user.id, passed: true).order("end_time DESC").first) %></td>
                  <% else %>
                    <td>
                      <% if section.quiz_id %>
                        <%= link_to "Take Quiz", new_attempt_path(section: section), id: "Take Quiz #{Quiz.find(section.quiz_id).name} Link" %>
                        <% if !section.attempts.where(user_id: current_user.id).empty? %>
                          OR <%= link_to "View Last Results", attempt_path(section.attempts.where(user_id: current_user.id).order("end_time DESC").first) %>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
        <% else %>
          <% if current_user %>
            <h4> The videos and quizzes for the course will be coming soon! </h4>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 sidebar sidebar-right">
    <div class="inner">
      <div class="block">
        <% if @resources.count > 0 %>
          <h4><center>Related Resources</h4></center>
          <% @resources.each do |resource| %>
            <div class="sidebar-box">
              <% if resource.url %>
                <% if resource.title %>
                  <center><h5><br><%= link_to resource.title, resource.url %></h5></center>
                <% end %>
                <% if resource.image %>
                  <center><%= link_to image_tag(resource.image.sidebar.url, class: "img-responsive"), resource.url %></center>
                <% end %>
                <p><small class="muted"><%= resource.description if resource.description? %></p></small>
              <% else %>
                <center><h5><br>resource.title</h5></center>
                <% if resource.image %>
                  <center><%= image_tag(resource.image.sidebar, class: "img-responsive") %></center>
                <% end %>
                <p><br><small class="muted"><%= resource.description if resource.description? %></p></small></div>
              <% end %>
            </div>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
