<h2> Send a Message to Dr. Bob Nelson</h2>

<div class="row">
  <div class="span-6">
    <%= form_for @message, :url => contact_path do |form| %>
      <div class="control-group">
        <%= form.label :name, class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :name, :autofocus => true %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :email, class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :email %>
        </div>
      </div>
      <div class="control-group">
        <%= form.label :subject, class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :subject %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :body, class: 'control-label' %>
        <div class="controls">
          <%= form.text_area :body,  rows: 8 %>
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <%= form.submit "submit", class: 'btn' %>
        </div>
      </div>
    </div>
    <% end %>
  <div>
</div>