<h2 class="title-divider"><span>Send Us <span class="de-em">a Message!</span></span> <small></small></h2>

<div class="row">
  <div class="col-md-6">
    <p><i>Send us a message with your feedback, questions, or any issues you've encountered. We'd love to hear from you!</p></i>
    <%= form_for @message, :url => contact_path do |form| %>
      <div class="control-group">
        <%= form.label :name,'Name:', class: 'control-label' %>
        <div class="controls">
          <% if current_user %>
            <%= form.text_field :name, size: 40, required: true, autofocus: true, value: current_user.name %>
          <% else %>
            <%= form.text_field :name, size: 40, autofocus: true, required: true %>
          <% end %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :email, 'Email:', class: 'control-label' %>
        <div class="controls">
          <% if current_user %>
            <%= form.text_field :email, size: 40, required: true, value: current_user.email %>
          <% else %>
            <%= form.text_field :email, size: 40, required: true %>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <%= form.label :subject, 'Subject:', class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :subject, size: 40, required: true  %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :body, 'Message:', class: 'control-label' %>
        <div class="controls">
          <%= form.text_area :body, rows: 8, cols: 40, required: true %>
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <%= form.submit "Submit",  class: 'btn btn-primary btn-large'  %>
        </div>
      </div>
    </div>
    <% end %>
  <div>
</div>