<h2 class="title-divider"><span>Send a Message <span class="de-em">to Dr. Bob Nelson</span></span> <small></small></h2>

<div class="row">
  <div class="col-md-6">
    <%= form_for @message, :url => contact_path do |form| %>
      <div class="control-group">
        <%= form.label :name,'Name:', class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :name, autofocus: true, size: 40, placeholder: "name", required: true %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :email, 'Email:', class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :email, size: 40, placeholder: "email", required: true %>
        </div>
      </div>
      <div class="control-group">
        <%= form.label :subject, 'Subject:', class: 'control-label' %>
        <div class="controls">
          <%= form.text_field :subject, size: 40, placeholder: "subject of email", required: true  %>
        </div>
      </div>
      
      <div class="control-group">
        <%= form.label :body, 'Message:', class: 'control-label' %>
        <div class="controls">
          <%= form.text_area :body, placeholder: "message body", rows: 8, cols: 40, required: true %>
        </div>
      </div>
      <br>
      <div class="control-group">
        <div class="controls">
          <%= form.submit "Submit",  class: 'btn btn-primary btn-large'  %>
        </div>
      </div>
    </div>
    <% end %>
  <div>
</div>