<%# add navigation links to this file %>
 <li class="home-link"><a href=<%= root_path %>><i class="fa fa-home"></i><span class="hidden">Home</span></a></li>

  <li class="dropdown"> <a href="blog.htm" class="dropdown-toggle" id="blog-drop" data-toggle="dropdown">Courses +</a> 
    <!-- Dropdown Menu -->
    <ul class="dropdown-menu" role="menu" aria-labelledby="blog-drop">
      <li role="presentation"><a role="menuitem" href=<%=courses_path %> tabindex="-1" class="menu-item">All Courses</a></li>
      <% Course.all.each do |course| %>
        <li role="presentation"><a role="menuitem" href=<%=course_path(course) %> tabindex="-1" class="menu-item"><%= course.name %></a></li>
      <% end %>
    </ul>
  </li>

  <% if can? :view_pricing, User %>
    <li><a href=<%= pricing_path %> class="menu-item">Pricing</a></li>
  <% end %>
  <li><a href=<%= contact_path %> class="menu-item">Contact</a></li>
  <li><a href=<%= about_path %> class="menu-item">About</a></li>
  <% if can? :update, User %>
    <li><a href=<%= users_path %> class="menu-item">Users</a></li>
  <% end %>
  <% if can? :update, Quiz %>
    <li><a href=<%= quizzes_path %> class="menu-item">Quizzes</a></li>
  <% end %>
  <% if can? :update, Video %>
    <li><a href=<%= videos_path %> class="menu-item">Videos</a></li>
  <% end %>
  <% if can? :view_account, current_user %>
    <li><a href=<%= user_path(current_user) %> class="menu-item">My Account</a></li>
  <% end %>