<!DOCTYPE html> 
<html>
   <head>
     <title>Strategic HR by Dr. Bob Nelson</title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
   </head>
   <body>
     <div class="container">
       <ul class="nav nav-tabs">
         <li><%= link_to "Strategic HR", welcome_index_path %></li>
         <li><%= link_to "About", welcome_about_path %></li>
       </ul>        <%= yield %>
     </div>
    </body>
 </html> 

